.material-icons.large {
    font-size: 100px;
}

.material-symbols-outlined.medium, .material-icons.medium {
    font-size: 80px;
}

.button, .opponent{
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    width: 120px;
    border-radius: 4px;
    color: white;
}

@media screen and (max-width:450px) {
    .button, .opponent{
        margin-left: 10px;
        width: 110px;
    }
}

.button{
    background-color: rgb(141, 172, 229);
    cursor: pointer;
    margin-bottom: 50px;
    user-select: none;

}

.opponent{
    background-color: #FBD5AB;
    margin-top: 50px;
}

.button.active{
    background-color: palegreen;
}

.opponent.active{
    background-color: lightsalmon;
}

.button:hover{
    background-color: #B5EAAA;
}

.button label, .opponent label{
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.buttons, .opponent-section, .results{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 60px;
}

@media screen and (max-width:600px) {
    h1{
        font-size: 30px;
    }
}

.results > div{
    display: none;
}

.results .active {
    display: block;
}

.result-text{
    font-size: 30px;
}

.score {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

.score > div{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.score span {
    text-align: right;
}